<h2>Landing</h2>

<% if @configurations_missing %>
<div>
  <h3>Congratulations! Your Ruby App is running!</h3>
  Please follow the next step to complete the setup of your Shop Your Way app:
  <ol>
    <li>Register a new application in <a href="http://galileo.shopyourway.com/app/control-panel" target="_blank">ShopYourWay Sandbox environment</a>. Use localhost:3000/ as the Base URL.</li>
    <li>After the application is registered successfully, you will get an App Id and App Secret.
        Open the file: development.rb under config/environments and set those values (<span class="bold">app_id</span> key and <span class="bold">app_secret</span> key)</li>
    <li>Restart your Ruby server, and refresh this page</li>
  </ol>
</div>
<% else %>
<p class="bold">Make sure your are viewing this page at <a href="<%= @landing_page %>" target="_top">your ShopYourWay application landing page</a></p>
<a href="<%= @install_page %>" target="_top">Register this app for your ShopYourWay user</a>
<% end %>

<h3>Introduction</h3>

<p>This is a wire-frame for an application which includes the basic elements you need in order to start developing an application using the <a href="https://developer.shopyourway.com/display/platdev/The+API#TheAPI-ReadingtheAPIDocumentation" target="_blank">ShopYourWay Platform</a></p>
<p>Documentation of how to build an application is available at <a href="http://developer.shopyourway.com" target="_blank">http://developer.shopyourway.com</a></p>
<p>This application contains basic MVC architecture and platform APIs access</p>
<p>Canvas is available via http://base-app-url/landing</p>
